@import "../mixins.scss";

.card-base {
  border-radius: 5px;
}

.main {
  margin: 0 auto;
  gap: 2.4rem;
  margin-top: 4.8rem;
  display: grid;
  height: 100%;
  width: 75%;
}

.btn-list {
  list-style: none;
  display: flex;
  gap: 1.2rem;
  padding: 0;
}

@media (max-width: 576px) {
  .main {
    margin-top: 3.2rem;
    width: 80%;
    margin-right: 2.4rem;
  }
  .button {
    width: 2.4rem;
    height: 2.4rem;
    font-size: 0.8rem !important;
  }
}

@media (max-width: 460px) {
  .button {
    width: 1.8rem;
    height: 1.8rem;
    font-size: 0.6rem !important;
    padding: 0;
  }
  .btn-list {
    gap: 0.6rem;
  }
}
