$global-font-stack: "Roboto", sans-serif;
$global-primary-color: #333;
$global-body-background: #cdcdcd;
$global-component-background: #212529;
$global-invalid: #9c0000;

$enable-grid-classes: false;
