@import "../../variables";

.card-base {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 20rem;
  height: 12.5rem;
  padding-right: 3.2rem;
  background-color: $global-component-background;
  color: $global-body-background;
  transition: all 0.3s ease;
}

.card-body-text {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-around;
}

.card-base:hover {
  cursor: pointer;
  transform: translateY(-3%);
}

p {
  font-size: 1.2rem;
}

.price {
  color: orange;
}

.image {
  width: 4rem;
  height: 4rem;
}
