@import "../../variables";

.card-base {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 17.5rem;
  height: 12.5rem;
  padding-right: 3.2rem;
  background-color: $global-component-background;
  color: $global-body-background;
  transition: all 0.3s ease;
}

.card-body-text {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-around;
}

.card-base:hover {
  cursor: pointer;
  transform: translateY(-3%);
}

p {
  font-size: 1.2rem;
}

.price {
  color: orange;
}

.image {
  width: 4rem;
  height: 4rem;
}

@media (max-width: 1200px) {
  .card-base {
    width: 15rem;
    height: 11.5rem;
    padding-right: 1.2rem;
  }
  p {
    font-size: 1rem;
  }
  .image {
    width: 3.2rem;
    height: 3.2rem;
  }
}

@media (max-width: 992px) {
  .card-base {
    width: 12rem;
    height: 9rem;
    font-size: 1.2rem;
  }
  .image {
    width: 2.4rem;
    height: 2.4rem;
  }
  .card-content {
    font-size: 1.1rem;
  }
  p {
    font-size: 0.8rem;
  }
}

@media (max-width: 768px) {
  .card-base {
    width: 12rem;
    height: 9rem;
  }
  .image {
    width: 2.4rem;
    height: 2.4rem;
  }
  .card-content {
    font-size: 1.1rem;
  }
  p {
    font-size: 0.8rem;
  }
}

@media (max-width: 576px) {
  .card-base {
    width: 16rem;
    height: 11rem;
  }
  .image {
    width: 3rem;
    height: 3rem;
  }
  .card-content {
    font-size: 1.4rem;
  }
  p {
    font-size: 1rem;
  }
}

@media (max-width: 380px) {
  .card-base {
    width: 14rem;
    height: 10rem;
  }
  .image {
    width: 2.4rem;
    height: 2.4rem;
  }
  .card-content {
    font-size: 1.2rem;
  }
  p {
    font-size: 0.9rem;
  }
}
